<div class="col-md-12">
  <br />
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-info text-center">
      Sorry, no media found for hastag <strong><%= @hashtag %></strong>.
    </div>
  </div>
</div>
