<% if @no_media %>
	<%= render "no_media" %>
<% else %>
	<% testing = true %>
	<% unless testing %>
		<div id="slideshow">
			<% for media_item in @media %>
			<div id="<%= media_item.id %>" class="image" style="background-image:url('<%= media_item.images.standard_resolution.url %>')"></div>
			<% end %>
		</div>
	<% else %>
		<p>
			<%= @starting_url %>
		</p>
	<% end %>
<% end %>
